.center {
    display: block;
    margin: auto;
    height: 108;
    width: 194;
}

.title {
    text-align: center;
}

.navbar {
	text-align : center;
	text-decoration : none;
	border : 0px none;
	color : White;
}
